@import '/src/styles/variables.scss';

.loginWrap {
  @include flex-center;
  flex-direction: column;
  margin-top: 200px;
  transition: all 1s;
  opacity: 0;

  &.end {
    opacity: 1;
  }

  .loginWord {
    font-weight: bold;
    font-size: 32px;
    margin-bottom: 70px;
  }

  .subTextLogin {
    margin-bottom: 10px;
    font-weight: bold;
  }

  .inputText {
    width: 320px;
    height: 50px;
    margin-top: 7px;
    padding: 10px;
    font-size: 15px;
  }

  .inputWrap {
    @include flex-center;
    flex-direction: column;
  }

  .loginBtn {
    width: 320px;
    height: 50px;
    background-color: black;
    color: white;
    margin-top: 7px;
  }

  .forgetInput {
    margin-top: 30px;
  }

  .goToSignUp {
    margin-top: 100px;
    cursor: pointer;

    .goToSignUpBtn {
      color: red;
      margin-left: 10px;
    }
  }
}
