@import '/src/styles/variables.scss';
.successModalBack {
  width: 100%;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  background-color: black;
  opacity: 0.5;
}

.successModal {
  @include flex-center;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  height: 239px;
  background-color: white;

  .successHeader {
    font-weight: bold;
    margin-bottom: 30px;
  }

  .successContent {
    margin-bottom: 30px;
  }

  .successBtn {
    margin-top: 50px;

    width: 120px;
    height: 30px;
    font-weight: bold;
  }
}
