@import '../../styles/variables.scss';
.headerTitle {
  margin-right: 50px;
}
.none-active {
  opacity: 0.5;
}
.bestItems {
  position: relative;
  width: 1168px;
  .best_header {
    @include flex-center;
    justify-content: space-between;

    .fa-solid {
      cursor: pointer;
    }
  }
  .best_title {
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: bold;
  }
  .products_list {
    display: flex;
    align-items: center;
    gap: 50px;
  }
}
