@import '/src/styles/variables.scss';

.notifyBanner {
  width: 576px;
  height: 176px;
  overflow: hidden;

  .secondBannerWrap {
    @include flex-center;
    width: 1728px;
    height: 176px;
    border-right: 1px solid #e1e1e1;
    position: relative;

    .secondBannerContent {
      @include flex-center;
      width: 576px;
      height: 176px;
    }
    .secondBtnWrap {
      @include flex-center;
      position: absolute;
      width: 576px;
      height: 176px;
      justify-content: space-between;
      left: 0;
      top: 0;
    }
  }
}
