@import '../../styles/variables.scss';

.sorting_wrap {
  @include flex-center;
  flex-direction: column;
  position: absolute;
  right: 0;
  top: 50px;
  z-index: 5;
  .sorting_best {
    width: 150px;
    height: 30px;
    background-color: white;
    border: 1px solid black;
  }

  .sorting_antibiotic {
    width: 150px;
    height: 30px;
    background-color: white;
    border: 1px solid black;
  }

  .sorting_random {
    width: 150px;
    height: 30px;
    background-color: white;
    border: 1px solid black;
  }
}
