@import 'src/styles/variables.scss';

.list {
  .list_banner {
    width: 100%;

    img {
      width: 100%;
      background-size: cover;
    }
  }

  .container {
    border: none;

    .list_tab {
      margin: 50px 0;

      .list_tab_container {
        @include flex-center;
        justify-content: space-around;

        .list_tab_button {
          @include flex-center;
          width: 145px;
          height: 55px;
          font-weight: 600;
          background-color: $gray-color;

          &:hover {
            color: white;
            background-color: $main-color;
          }
        }
        .active {
          color: white;
          background-color: $main-color;
        }
      }
    }
  }
}
