$main-color: #1f1b1b;
$gray-color: #f9f7f8;
$red-color: #d0011c;
$blue-color: #4b8fe2;
$sub-text: #c8c8c8;
$bg-center: center center center no-repeat;

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin position-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}