@import '/src/styles/variables.scss';

.signUpWrap {
  @include flex-center;
  flex-direction: column;
  margin-top: 200px;

  .signUpWord {
    font-size: 25px;
    font-weight: bold;
  }

  .subTextSignUp {
    margin-top: 70px;
    font-weight: bold;
  }

  .signUpBtn {
    width: 320px;
    height: 50px;
    margin-top: 30px;
    color: red;
    background-color: white;
    border: 1px solid red;
    border-radius: 5px;
  }

  .gotoLogin {
    @include flex-center;
    margin-top: 100px;
    width: 320px;
    height: 50px;
    cursor: pointer;

    .goToLoginBtn {
      margin-left: 10px;
      color: red;
    }
  }
}
